html, body{
  margin: 0;
  padding: 0;
  background-color: #dff9fb;
}

header{
  background-color: #ff4757;
  color: #dff9fb;
  padding: 3rem;
}

header h1, header p{
  margin: 0;
}

.display-1{
  font-size: 4rem;
}

header p{
  font-size: 2rem;
}

nav{
  background-color: #ff6b81;
  color: #dff9fb;
}

.topNav{
  display: inline-block;
  vertical-align: middle;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.navItem{
  float: left;
  margin-right: 2rem;
  list-style-type: none;
}

.navItem:hover{
  background-color: #ff4757;
}

.navItem a{
  padding: 2rem 3rem;
  display: inline-block;
}

.navItem a, .navItem a:hover{
  color: #fff;
}

.jumbotron{
  clear:both;
}

footer{
  background-color:#130f40;
  padding: 3rem;
}