html, body{
  margin: 0;
  padding: 0;
  background-color: #dff9fb;
}

header{
  background-color: #222;
  color: #dff9fb;
  padding: 3rem;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

header, footer{
  background: url(../img/background.png);
  background-repeat: repeat;
  background-size: auto;

}

header h1, header p{
  margin: 0;
  align-items: center;
}

header img{
  max-width: 125px;
  max-height: 125px;
  margin-right: 0.5rem;
}

.display-1{
  font-size: 4rem;
}

header p{
  font-size: 2rem;
}

nav{
  clear: both;
  background-color: #ff4757;
  color: #f8f8ff;
}

.topNav{
  display: inline-block;
  vertical-align: middle;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.navItem{
  float: left;
  margin-right: 2rem;
  list-style-type: none;
}

.navItem:hover{
  background-color: #ff6b81;
}

.navItem a{
  padding: 2rem 3rem;
  display: inline-block;
}

.navItem a, .navItem a:hover{
  color: #fff;
  text-decoration: none;
}

.jumbotron{
  clear:both;
  padding: 3rem;
  margin: 0;
  background-color: #f8f8ff;
}

.jumbotron p, .jumbotron ul, .jumbotron ol{
  font-size: 2.15rem;
}

.thumbnail p, .thumbnail ul{
  font-size: 1.75rem;
}

.thumbnail ul{
  margin-bottom: 3rem;
}

.highlightedText{
  font-weight: bold;
  color: #ff4757;
}

footer{
  background-color:#222;
  color: #fff;
  padding: 3rem;
  font-size: 1.75rem;
  text-align: right;
}